#files
*.zip
log/error.php

#Directories
cache/
qb/
components/com_jcomments/
modules/mod_maximenuck/

*installation/
problemsolved/
newproblemsolved/
tmp/
language/
layouts/
media/
includes/
templates/
plugins/
modules/
libraries/
components/
apcalculus_temp_files/
differential_temp_files/
piwik/
images/
oldimages/
questions/
trig-precalc_temp_files/
administrator/

#Track these sub-directories
administrator/components/com_babelu_exams/
media/com_babelu_exams
components/com_babelu_exams/
