
#files
*.zip
scratchpad.txt

#Directories
qb/
components/com_jcomments/

*installation/
language/
layouts/
media/
includes/
templates/
plugins/
modules/
libraries/
components/
apcalculus_temp_files/
differential_temp_files/
piwik/
images/
oldimages/
questions/
trig-precalc_temp_files/
administrator/


