#OSjunkfiles
images/

#VisualStudiofiles
*.zip

#(use"gitadd<file>..."toincludeinwhatwillbecommitted)

*installation/
apcalculus_temp_files/
differential_temp_files/
images/
oldimages/
questions/
trig-precalc_temp_files/
administrator/


