<hr id="system-readmore" />
<hr class="system-pagebreak" title="Hint1" />
<h4 class="hint-title">Hints</h4>
<div class="prob-hint-img"><img class="img-hintandsolution" src="images/trig-precalc/problems/problem1/hints/hint1_1.jpg" alt="" />
</div>
<hr class="system-pagebreak" title="Solution Step1" />
<h4 class="solution-title">Solution Step1</h4>
<div class="prob-solution-img"><img class="img-hintandsolution" src="images/trig-precalc/problems/problem1/answer/answer1_1.jpg" alt="" />
</div>



<p>&nbsp;</p>
<hr id="system-readmore" />
<p>&nbsp;</p>
<hr class="system-pagebreak" title="Hint1" />
<h4 class="hint-title">Hint1</h4>
<p><img class="img-hintandsolution" src="images/differential-calculus/problems/problem1/hints/hint1_1.jpg" alt="" />
</p>
<p>&nbsp;</p>
<hr class="system-pagebreak" title="Solution Step1" />
<h4 class="solution-title">Solution Step1</h4>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><img class="img-hintandsolution" src="images/differential-calculus/problems/problem1/answer/answer1_1.jpg" alt="" />
</p>
<p>&nbsp;</p>