.unite-category-module-accordion-inner-header {
	padding:10px 20px;
	background-color:white;
	border:1px solid #000;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	cursor:pointer;
	color:white;
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%, #222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%, #222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%, #222222 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%, #222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#222222', GradientType=0 ); /* IE6-9 */
}
.unite-category-module-accordion-inner-header:hover {
	background-color:#eee;
}
.unite-category-module-accordion-inner-item {
	padding:0px 20px 10px 20px;
}
a.mod-articles-category-title {
	padding:5px 10px;
	border:1px solid #0070D3;
	margin-bottom:10px;
	border-radius:5px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.1);
	display:inline-block;
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #499bea 0%, #207ce5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #499bea 0%, #207ce5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 ); /* IE6-9 */
	color:white;
}
