#logo h2{display:none}
#mathpagenavcounter{display:none}
.hint-class{padding:4px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.1)}
.img-hintandsolution{
 background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px; 
background-color: #5e8afd; display: block; margin-right: auto; margin-left: auto;}

.img-question{
display: block;  margin-left: 30%;
    border: 1px ;
    padding: 4px;
}


.hint-title{
 margin-left:35%;
}

.solution-title{
 margin-left:30%;
}

#system-message-container {
    display: none; } 

#header
{
	background: url('../images/header_bg.jpg') repeat-x top left;
}
#top, #top2
{
	display:none;
}
.topmenu
{
	width: 500px;
	float: right;
}