<?xml version="1.0" encoding="utf-8"?>
<config>

	<!-- SOF EXAM -->
	<fieldset name="exam" label="COM_BABELU_EXAMS_EXAM_LABEL"
		description="COM_BABELU_EXAMS_EXAM_DESC">

		<field name="clockPosition" type="list" default="top_left"
			label="COM_BABELU_EXAMS_CLOCK_POSITION_SELECT_LABEL" description="COM_BABELU_EXAMS_CLOCK_POSITION_SELECT_DESC">
			<option value="top_left">COM_BABELU_EXAMS_TOP_LEFT_OPTION_TEXT</option>
			<option value="top_right">COM_BABELU_EXAMS_TOP_RIGHT_OPTION_TEXT</option>
			<option value="bottom_left">COM_BABELU_EXAMS_BOTTOM_LEFT_OPTION_TEXT</option>
			<option value="bottom_right">COM_BABELU_EXAMS_BOTTOM_RIGHT_OPTION_TEXT</option>
			<option value="inline_float_left">COM_BABELU_EXAMS_INLINE_LEFT_OPTION_TEXT</option>
			<option value="inline_float_right">COM_BABELU_EXAMS_INLINE_RIGHT_OPTION_TEXT</option>
		</field>
		
		<field name="scrollToTop" type="radio" default="false"
			label="COM_BABELU_EXAMS_DETAIL_SCROLL_TO_TOP_LABEL" description="COM_BABELU_EXAMS_DETAIL_SCROLL_TO_TOP_DESC">
			<option value="false">JNO</option>
			<option value="true">JYES</option>
		</field>
		
	</fieldset>
	<!-- EOF EXAM -->

	<!-- SOF DETAIL -->
	<fieldset name="detail" label="COM_BABELU_EXAMS_DETAIL_LABEL"
		description="COM_BABELU_EXAMS_DETAIL_DESC">

		<field name="showDetails" type="radio" default="1"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_DETAILS_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_DETAILS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>


		<field name="showLevel" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_LEVEL_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_LEVEL_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

		<field name="showTimeLimit" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_TIME_LIMIT_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_TIME_LIMIT_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

		<field name="showRetakeLimit" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_RETAKE_LIMIT_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_RETAKE_LIMIT_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

		<field name="showRetakeDelay" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_RETAKE_DELAY_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_RETAKE_DELAY_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

		<field name="showPassLine" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_PASS_LINE_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_PASS_LINE_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

		<field name="showGradingOption" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_GRADING_OPTION_LABEL"
			description="COM_BABELU_EXAMS_DETAIL_SHOW_GRADING_OPTION_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

		<field name="showSavable" type="radio" default="open"
			label="COM_BABELU_EXAMS_DETAIL_SHOW_SAVABLE_LABEL" description="COM_BABELU_EXAMS_DETAIL_SHOW_SAVABLE_DESC">
			<option value="closed">JNO</option>
			<option value="open">JYES</option>
		</field>

	</fieldset>
	<!-- EOF DETAIL -->

	<!-- SOF RESULT -->
	<fieldset name="result" label="COM_BABELU_EXAMS_RESULTS_LABEL"
		description="COM_BABELU_EXAMS_RESULTS_DESC">

		<field name="adjustAttempts" type="radio" default="1"
			label="COM_BABELU_EXAMS_RESULT_ADJUST_ATTEMPTS_LABEL" description="COM_BABELU_EXAMS_RESULT_ADJUST_ATTEMPTS_DESC">
			<option value="0">COM_BABELU_EXAMS_RESULT_ADJUST_BEFORE_EXAM</option>
			<option value="1">COM_BABELU_EXAMS_RESULT_ADJUST_AFTER_EXAM</option>
		</field>
		
		<field name="showReviews" type="radio" default="1"
			label="COM_BABELU_EXAMS_RESULT_SHOW_REVIEWS_LABEL" description="COM_BABELU_EXAMS_RESULT_SHOW_REVIEWS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="showSummaryTable" type="radio" default="1"
			label="COM_BABELU_EXAMS_RESULT_SHOW_SUMMARY_TABLE_LABEL" description="COM_BABELU_EXAMS_RESULT_SHOW_SUMMARY_TABLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="showSectionTitleInReview" type="radio" default="1"
			label="COM_BABELU_EXAMS_RESULT_SHOW_SECTION_TITLE_LABEL" description="COM_BABELU_EXAMS_RESULT_SHOW_SECTION_TITLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		
		<field name="showSectionDescriptionInReview" type="radio" default="1"
			label="COM_BABELU_EXAMS_RESULT_SHOW_SECTION_DESCRIPTION_LABEL" description="COM_BABELU_EXAMS_RESULT_SHOW_SECTION_DESCRIPTION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
				
		<field name="showAnswers" type="radio" default="0"
			label="COM_BABELU_EXAMS_RESULT_SHOW_ANSWERS_LABEL" description="COM_BABELU_EXAMS_RESULT_SHOW_ANSWERS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="maxResults" type="text" default="50"
			label="COM_BABELU_EXAMS_RESULT_MAX_RESULTS_LABEL" description="COM_BABELU_EXAMS_RESULT_MAX_RESULTS_DESC"
			size="10" />

	</fieldset>
	<!-- EOF RESULT -->

	<!-- SOF CHART -->
	<fieldset name="chart_structure" label="COM_BABELU_EXAMS_CHART_LABEL"
		description="COM_BABELU_EXAMS_CHART_DESC" addfieldpath="administrator/components/com_babelu_exams/models/fields">

		<field name="chartSpacer1" type="spacer"
			label="COM_BABELU_EXAMS_CHART_STRUCTURE_SETTINGS" />

		<field name="chartCaption" type="text" default=""
			label="COM_BABELU_EXAMS_CHART_CAPTION_LABEL" description="COM_BABELU_EXAMS_CHART_CAPTION_DESC"
			size="40" />

		<field name="chartSubCaption" type="text" default=""
			label="COM_BABELU_EXAMS_CHART_SUB_CAPTION_LABEL" description="COM_BABELU_EXAMS_CHART_SUB_CAPTION_DESC"
			size="40" />

		<field name="chartResultDateFormate" type="text" default="Y-m-d"
			label="COM_BABELU_EXAMS_CHART_RESULT_DATE_FORMATE_LABEL" description="COM_BABELU_EXAMS_CHART_RESULT_DATE_FORMATE_DESC"
			size="40" />

		<field name="chartHeight" type="text" default="200"
			label="COM_BABELU_EXAMS_CHART_HEIGHT_LABEL" description="COM_BABELU_EXAMS_CHART_HEIGHT_DESC"
			size="10" />

		<field name="chartWidth" type="text" default="500"
			label="COM_BABELU_EXAMS_CHART_WIDTH_LABEL" description="COM_BABELU_EXAMS_CHART_WIDTH_DESC"
			size="10" />

		<field name="chartLeftMargin" type="text" default="20"
			label="COM_BABELU_EXAMS_CHART_LEFT_MARGIN_LABEL" description="COM_BABELU_EXAMS_CHART_LEFT_MARGIN_DESC"
			size="10" />

		<field name="chartRightMargin" type="text" default="20"
			label="COM_BABELU_EXAMS_CHART_RIGHT_MARGIN_LABEL" description="COM_BABELU_EXAMS_CHART_RIGHT_MARGIN_DESC"
			size="10" />

		<field name="chartTopMargin" type="text" default="20"
			label="COM_BABELU_EXAMS_CHART_TOP_MARGIN_LABEL" description="COM_BABELU_EXAMS_CHART_TOP_MARGIN_DESC"
			size="10" />

		<field name="chartBottomMargin" type="text" default="20"
			label="COM_BABELU_EXAMS_CHART_BOTTOM_MARGIN_LABEL" description="COM_BABELU_EXAMS_CHART_BOTTOM_MARGIN_DESC"
			size="10" />

		<field name="chartShowNames" type="radio" default="0"
			label="COM_BABELU_EXAMS_CHART_SHOW_NAMES_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_NAMES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartShowValues" type="radio" default="0"
			label="COM_BABELU_EXAMS_CHART_SHOW_VALUES_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_VALUES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartShowLimits" type="radio" default="1"
			label="COM_BABELU_EXAMS_CHART_SHOW_LIMITS_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_LIMITS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartAnimation" type="radio" default="0"
			label="COM_BABELU_EXAMS_CHART_ANIMATION_LABEL" description="COM_BABELU_EXAMS_CHART_ANIMATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartSpacer2" type="spacer"
			label="COM_BABELU_EXAMS_CHART_DIVISIONAL_LINES" />

		<field name="chartShowDivLineValue" type="radio" default="1"
			label="COM_BABELU_EXAMS_CHART_SHOW_DIV_LINE_VALUE_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_DIV_LINE_VALUE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartShowAlternativeHGridColor" type="radio"
			default="1" label="COM_BABELU_EXAMS_CHART_SHOW_ALTERNATIVE_H_GRID_COLOR_LABEL"
			description="COM_BABELU_EXAMS_CHART_SHOW_ALTERNATIVE_H_GRID_COLOR_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartDivLineColor" type="pickcolor" default="#999999"
			label="COM_BABELU_EXAMS_CHART_DIV_LINE_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_DIV_LINE_COLOR_DESC"
			class="color-one" size="10" />

		<field name="chartDivLineAlpha" type="text" default="100"
			label="COM_BABELU_EXAMS_CHART_DIV_LINE_ALPHA_LABEL" description="COM_BABELU_EXAMS_CHART_DIV_LINE_ALPHA_DESC"
			size="10" />

		<field name="chartAlternativeHGridColor" type="pickcolor"
			default="#CCCCCC" label="COM_BABELU_EXAMS_CHART_ALTERNATIVE_H_GRID_COLOR_LABEL"
			description="COM_BABELU_EXAMS_CHART_ALTERNATIVE_H_GRID_COLOR_DESC"
			class="color-two" size="10" />

		<field name="chartAlternativeHGridAlpha" type="text" default="100"
			label="COM_BABELU_EXAMS_CHART_ALTERNATIVE_H_GRID_ALPHA_LABEL"
			description="COM_BABELU_EXAMS_CHART_ALTERNATIVE_H_GRID_ALPHA_DESC"
			size="10" />

		<field name="chartNumDivLines" type="text" default="3"
			label="COM_BABELU_EXAMS_CHART_NUM_GRID_LINES_LABEL" description="COM_BABELU_EXAMS_CHART_NUM_GRID_LINES_DESC"
			size="10" />

		<field name="chartSpacer3" type="spacer"
			label="COM_BABELU_EXAMS_CHART_BACKGROUND_AND_CANVAS" />

		<field name="chartBgColor" type="pickcolor" default="#FFFFFF"
			label="COM_BABELU_EXAMS_CHART_BG_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_BG_COLOR_DESC"
			class="color-three" size="10" />

		<field name="chartBgAlpha" type="text" default="100"
			label="COM_BABELU_EXAMS_CHART_BG_ALPHA_LABEL" description="COM_BABELU_EXAMS_CHART_BG_ALPHA_DESC"
			size="10" />

		<field name="chartCanvasBgColor" type="pickcolor" default="#FFFFFF"
			label="COM_BABELU_EXAMS_CHART_CANVAS_BG_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_CANVAS_BG_COLOR_DESC"
			class="color-four" size="10" />

		<field name="chartCanvasBgAlpha" type="text" default="0"
			label="COM_BABELU_EXAMS_CHART_CANVAS_BG_ALPHA_LABEL" description="COM_BABELU_EXAMS_CHART_CANVAS_BG_ALPHA_DESC"
			size="10" />

		<field name="chartCanvasBorderColor" type="pickcolor" default="#000000"
			label="COM_BABELU_EXAMS_CHART_CANVASE_BORDER_COLOR_LABEL"
			description="COM_BABELU_EXAMS_CHART_CANVASE_BORDER_COLOR_DESC" class="color-five"
			size="10" />

		<field name="chartCanvasBorderThickness" type="text" default="0"
			label="COM_BABELU_EXAMS_CHART_CANVASE_BORDER_THICKNESS_LABEL"
			description="COM_BABELU_EXAMS_CHART_CANVASE_BORDER_THICKNESS_DESC"
			size="10" />
		<field name="chartSpacer7" type="spacer" label="COM_BABELU_EXAMS_CHART_FONTS" />

		<field name="chartOutCnvBaseFontSze" type="text" default="10"
			label="COM_BABELU_EXAMS_CHART_OUT_CNV_BASE_FONT_SZE_LABEL"
			description="COM_BABELU_EXAMS_CHART_OUT_CNV_BASE_FONT_SZE_DESC" size="10" />

		<field name="chartOutCnvBaseFontColor" type="pickcolor" default="#000000"
			label="COM_BABELU_EXAMS_CHART_OUT_CNV_BASE_FONT_COLOR_LABEL"
			description="COM_BABELU_EXAMS_CHART_OUT_CNV_BASE_FONT_COLOR_DESC"
			class="color-six" size="10" />

		<field name="chartBaseFontSize" type="text" default="10"
			label="COM_BABELU_EXAMS_CHART_BASE_FONT_SIZE_LABEL" description="COM_BABELU_EXAMS_CHART_BASE_FONT_SIZE_DESC"
			size="10" />

		<field name="chartBaseFontColor" type="pickcolor" default="#000000"
			label="COM_BABELU_EXAMS_CHART_BASE_FONT_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_BASE_FONT_COLOR_DESC"
			class="color-seven" size="10" />


		<field name="chartSpacer4" type="spacer"
			label="COM_BABELU_EXAMS_CHART_LINE_AND_ANCHORS" />

		<field name="chartLineColor" type="pickcolor" default="#000000"
			label="COM_BABELU_EXAMS_CHART_LINE_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_LINE_COLOR_DESC"
			class="color-twelve" size="10" />
		<!-- comming soon <field name="chartLineAlpha" type="text" default="100" 
			label="COM_BABELU_EXAMS_CHART_LINE_ALPHA_LABEL" description="COM_BABELU_EXAMS_CHART_LINE_ALPHA_DESC" 
			size="10" /> -->
		<field name="chartLineThickness" type="text" default="1"
			label="COM_BABELU_EXAMS_CHART_LINE_THICKNESS_LABEL" description="COM_BABELU_EXAMS_CHART_LINE_THICKNESS_DESC"
			size="10" />

		<field name="chartShowAnchors" type="radio" default="1"
			label="COM_BABELU_EXAMS_CHART_SHOW_ANCHORS_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_ANCHORS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartAnchorBGColor" type="pickcolor" default="#FFFFFF"
			label="COM_BABELU_EXAMS_CHART_ANCHOR_BG_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_ANCHOR_BG_COLOR_DESC"
			class="color-eight" size="10" />

		<field name="chartAnchorBGAlpha" type="text" default="100"
			label="COM_BABELU_EXAMS_CHART_ANCHOR_BG_ALPHA_LABEL" description="COM_BABELU_EXAMS_CHART_ANCHOR_BG_ALPHA_DESC"
			size="10" />

		<field name="chartAnchorAlpha" type="text" default="100"
			label="COM_BABELU_EXAMS_CHART_ANCHOR_ALPHA_LABEL" description="COM_BABELU_EXAMS_CHART_ANCHOR_ALPHA_DESC"
			size="10" />
		<field name="chartAnchorBorderColor" type="pickcolor" default="#000000"
			label="COM_BABELU_EXAMS_CHART_ANCHOR_BORDER_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_ANCHOR_BORDER_COLOR_DESC"
			class="color-nine" size="10" />

		<field name="chartAnchorBorderThickness" type="text" default="1"
			label="COM_BABELU_EXAMS_CHART_ANCHOR_BORDER_THICKNESS_LABEL"
			description="COM_BABELU_EXAMS_CHART_ANCHOR_BORDER_THICKNESS_DESC"
			size="10" />

		<field name="chartSpacer5" type="spacer"
			label="COM_BABELU_EXAMS_CHART_HOVER_CAPTIONS" />

		<field name="chartShowHoverCap" type="radio" default="1"
			label="COM_BABELU_EXAMS_CHART_SHOW_HOVER_CAP_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_HOVER_CAP_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartHoverCapBgColor" type="pickcolor" default="#ffffff"
			label="COM_BABELU_EXAMS_CHART_HOVER_CAP_BG_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_HOVER_CAP_BG_COLOR_DESC"
			class="color-ten" size="10" />

		<field name="chartHoverCapBorderColor" type="pickcolor" default="#000000"
			label="COM_BABELU_EXAMS_CHART_HOVER_CAP_BORDER_COLOR_LABEL"
			description="COM_BABELU_EXAMS_CHART_HOVER_CAP_BORDER_COLOR_DESC"
			class="color-eleven" size="10" />

		<field name="chartHoverCapSepChar" type="text" default=":"
			label="COM_BABELU_EXAMS_CHART_HOVER_CAP_SEP_CHAR_LABEL" description="COM_BABELU_EXAMS_CHART_HOVER_CAP_SEP_CHAR_DESC"
			size="10" />

		<field name="chartSpacer6" type="spacer"
			label="COM_BABELU_EXAMS_CHART_TRENDLINE" />

		<field name="chartShowTrendLine" type="radio" default="0"
			label="COM_BABELU_EXAMS_CHART_SHOW_TREND_LINE_LABEL" description="COM_BABELU_EXAMS_CHART_SHOW_TREND_LINE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="chartTrendLineColor" type="pickcolor" default="#FF0000"
			label="COM_BABELU_EXAMS_CHART_TREND_LINE_COLOR_LABEL" description="COM_BABELU_EXAMS_CHART_TREND_LINE_COLOR_DESC"
			class="color-trend" size="10" />


	</fieldset>
	<!-- EOF CHART -->

	<!-- SOF PERMISSIONS -->
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_babelu_exams"
			filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
	<!-- EOF PERMISSIONS -->

</config>

<!-- ######################################################################################## 
	The following are a list of all the different types of fields you can add 
	to this file They are here for copy pasting - neat eh? ######################################################################################## 
	<field name="spacer1" type="spacer" hr="true" /> http://docs.joomla.org/Calendar_parameter_type 
	
	<field name="mycalendar" type="calendar" default="5-10-2008" label="Select 
	a date" description="" format="%d-%m-%Y" /> http://docs.joomla.org/Category_parameter_type 
	
	<field name="mycategory" type="category" label="Select a category" description="" 
	section="3" /> http://docs.joomla.org/Editors_parameter_type 
	
	<field name="myeditor" 
	type="editors" default="none" label="Select an editor" /> http://docs.joomla.org/Filelist_parameter_type 
	
	<field name="myfile" type="filelist" default="" label="Select a file" description="" 
	directory="administrator" filter="" exclude="" stripext="" /> http://docs.joomla.org/Folderlist_parameter_type 
	
	<field name="myfolder" type="folderlist" default="" label="Select a folder" 
	directory="administrator" filter="" exclude="" stripext="" /> http://docs.joomla.org/Helpsites_parameter_type 
	
	<field name="myhelpsite" type="helpsites" default="" label="Select a help 
	site" description="" /> http://docs.joomla.org/Hidden_parameter_type <field 
	name="mysecretvariable" type="hidden" default="" /> http://docs.joomla.org/Imagelist_parameter_type 
	
	<field name="myimage" type="imagelist" default="" label="Select an image" 
	description="" directory="" exclude="" stripext="" /> http://docs.joomla.org/Languages_parameter_type 
	
	<field name="mylanguage" type="languages" client="site" default="en-GB" label="Select 
	a language" description="" /> http://docs.joomla.org/List_parameter_type 
	
	<field name="mylistvalue" type="list" default="" label="Select an option" 
	description=""> <option value="0">Option 1</option> <option value="1">Option 
	2</option> </field> http://docs.joomla.org/Menu_parameter_type
	
	<field name="mymenu" 
	type="menu" default="mainmenu" label="Select a menu" description="Select 
	a menu" /> http://docs.joomla.org/Menuitem_parameter_type 
	
	<field name="mymenuitem" 
	type="menuitem" default="45" label="Select a menu item" description="Select 
	a menu item" /> http://docs.joomla.org/Password_parameter_type 
	
	<field name="mypassword" 
	type="password" default="secret" label="Enter a password" description="" 
	size="5" /> http://docs.joomla.org/Radio_parameter_type 
	
	<field name="myradiovalue" 
	type="radio" default="0" label="Select an option" description=""> <option 
	value="0">1</option> <option value="1">2</option> </field> http://docs.joomla.org/Spacer_parameter_type 
	
	<field type="spacer" default="&lt;b&gt;Advanced parameters&lt;/b&gt;" /> 
	http://docs.joomla.org/Sql_parameter_type 
	
	<field name="myfield" type="sql" 
	default="10" label="Select an article" query="SELECT id, title FROM #__content" 
	key_field=”id” value_field=”title” /> http://docs.joomla.org/Text_parameter_type 
	
	<field name="mytextvalue" type="text" default="Some text" label="Enter some 
	text" description="" size="10" /> http://docs.joomla.org/Textarea_parameter_type 
	
	<field name="mytextarea" type="textarea" default="default" label="Enter some 
	text" description="" rows="10" cols="5" /> http://docs.joomla.org/Timezones_parameter_type 
	
	<field name="mytimezone" type="timezones" default="-10" label="Select a timezone" 
	description="" /> http://docs.joomla.org/Usergroup_parameter_type 
	
	<field 
	name="myusergroups" type="usergroup" default="" label="Select a user group" 
	description="" /> -->
