.twentypro,.twentyfivepro,.thirtythreepro,.fiftypro,.hundredpro {margin-left:-0.04em;}
#slideshow-headerimg .pad .readon span {margin-right: 5px;padding: 0 5px 0 15px;}
.readon {cursor: pointer;}
#slideshow-headerimg .ict-fgr {zoom: 1;padding-bottom: 0;}
#leftcol, #rightcol, .footer-dst, .module-title, .module-body, #mastermods, #basicmods2, #mastermods3, #nav, .breadcrumbs-pad, .article_row, .hundredpro {zoom: 1;}
p.buttonheading {display: inline;}
#modlgn_username, #modlgn_passwd {width: 90%;}
#header .module {width: 500px;margin-left: 0;}
#header .module ul {float: right;}
#main a.readon2 span {margin-right: 4px;}