/*GENERAL*/
#hor_nav
{
	z-index: 1000;
	position: relative;
	min-height: 50px;
	background-image: url(../images/menu_img/nav_bg_default.png);
	background-repeat: repeat;
	margin-bottom: 10px;
}
#hor_nav UL
{
	margin: 0;
}
#hor_nav LI
{
	list-style: none;
	float: left;
	padding-left: 0;
	height: 50px;
	position: relative;
	background-image: url(../images/menu_img/right_line.png);
	background-repeat: no-repeat;
	background-position: center right;
}
#hor_nav LI A
{
	display: block;
	padding: 0 10px;
	line-height: 50px;
	color: #999999;
	border-right: 0px;
	font-size: 9pt;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	text-transform: uppercase;
	font-weight: bold;
}
#hor_nav LI.active A
{
	background-color: transparent;
	color: #FFFFFF;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
}
#hor_nav LI A:hover, #hor_nav LI:hover A, #hor_nav LI.sfHover A
{
	background: #2E2E2E;
}
/*TRANSITION*/
#hor_nav LI A:hover, #hor_nav LI:hover A, #hor_nav LI.sfHover A
{
	color: #999999;
}
#hor_nav LI UL
{
	position: absolute;
	width: auto;
	left: -999em;
	margin-left: -1px;
	border: 0;
	border-top: 0;
	z-index: 20000;
}
#hor_nav LI UL UL
{
	margin: -31px 0 0 100%;
}
#hor_nav LI:hover UL UL, #hor_nav LI:hover UL UL UL, #hor_nav LI:hover UL UL UL UL, #hor_nav LI.sfHover UL UL, #hor_nav LI.sfHover UL UL UL, #hor_nav LI.sfHover UL UL UL UL
{
	left: -999em;
}
#hor_nav LI LI
{
	padding: 0;
	height: auto;
	background: #FFF;
	min-width: 100%;
	white-space: nowrap;
	width: auto;
	z-index: 1100;
}
#hor_nav LI LI A, #hor_nav LI LI.active A, #hor_nav LI LI A:hover
{
	margin: 0;
	height: 30px;
	line-height: 30px;
	background: #2E2E2E;
	color: #FFFFFF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}
#hor_nav LI LI A, #hor_nav LI.active LI A
{
	font-weight: normal;
}
/*TRANSITION*/
#hor_nav LI:hover UL, #hor_nav LI.sfHover UL
{
	left: 1px;
}
#hor_nav LI LI:hover UL, #hor_nav LI LI LI:hover UL, #hor_nav LI LI LI LI:hover UL, #hor_nav LI LI.sfHover UL, #hor_nav LI LI LI.sfHover UL, #hor_nav LI LI LI LI.sfHover UL
{
	left: 0;
}
/*PARENT DROPDOWN ITEMS*/
#hor_nav .deeper.parent .dropdown-toggle .caret
{
	border-top-color: #333333;
	border-bottom-color: #333333;
	margin-top: 21px;
	margin-left: 3px;
}
