/*ARTICLES*/
.iteminfo
{
	font-size: 8pt;
	padding-top: 1em;
	color: #999999;
}
H1, H2, H3, H4, .componentheading, LEGEND
{
	font-weight: bold;
	margin: 0 0 0.5em;
}
#main-content
{
	padding-left: 10px;
	padding-right: 10px;
}
