/*ID*/
HTML, BODY, DIV, TR, TH, TD, TABLE, H1, H2, H3, H4, H5, H6, FIELDSET, FORM, LABEL, SPAN, UL, LI, TBODY, FONT, IMG, APPLET, OBJECT, IFRAME, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, INS, KBD, Q, S, SAMP, SMALL, STRIKE, SUB, SUP, TT, VAR, CENTER, DL, DT, DD, LEGEND, CAPTION, TFOOT, THEAD
{
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
}
/*LOGIN*/
#form-login-username .inputbox, #form-login-password .inputbox
{
	background-position: 5px center;
	background-repeat: no-repeat;
	padding: 3px 10px;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*MAIN LAYOUT*/
HTML
{
	height: 100%;
}
BODY
{
	color: #555;
	font-size: 11pt;
}
.body_bg
{
	background-color: #FFFFFF;
	background-image: url(../images/backgrounds/bg.png);
	background-repeat: repeat;
	background-position: center top;
}
H1, H2, H3, H4, .componentheading, LEGEND
{
	font-weight: bold;
	margin: 2em 0 1em;
}
H1, .componentheading
{
	font-size: 180%;
}
H2, LEGEND
{
	font-size: 150%;
}
H3
{
	font-size: 130%;
}
H4
{
	font-size: 110%;
}
A
{
	color: #3B7BB9;
	text-decoration: none;
	font-weight: bold;
}
A:hover
{
	text-decoration: underline;
}
UL
{
	margin: 1em;
}
P
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#main
{
}
.bg_top
{
	background-image: none;
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: center top;
	position: absolute;
	width: 100%;
	height: 426px;
}
#main .ict-fgr, #message, #slideshow-headerimg, .leading, #page
{
	position: relative;
}
#message, #slideshow-headerimg
{
	z-index: 0;
}
#main-content
{
}
.twentypro, .twentyfivepro, .thirtythreepro, .fiftypro, .hundredpro
{
	float: left;
	margin-top: 15px;
}
.twentypro
{
	width: 20%;
}
.twentyfivepro
{
	width: 25%;
}
.thirtythreepro
{
	width: 33.33%;
}
.fiftypro
{
	width: 50%;
}
.hundredpro
{
	width: 100%;
	margin-top: 0;
}
.clr
{
	clear: both;
	font-size: 0;
}
#clmsk
{
	clear: both;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#maincol, #wrapper
{
	position: relative;
}
.splusplus #clmiddle, .splusplux #clright
{
	float: left;
	position: relative;
	width: 200%;
}
.splusplus #clright
{
	float: left;
	left: 50%;
	position: relative;
	width: 100%;
}
.splusplus #cl1wrapper
{
	float: right;
	position: relative;
	right: 100%;
	width: 50%;
}
.splusplus #cl1pader, .xplusplus #cl1, .xplusplus #clmiddle
{
	overflow: hidden;
}
.splusplus #cl1
{
	overflow: hidden;
	width: 100%;
}
.splusplus #cl2
{
	float: left;
	position: relative;
	overflow: hidden;
	margin-left: -50%;
}
.splusplus #cl3
{
	float: left;
	position: relative;
	overflow: hidden;
	left: 0;
}
.splusplux #cl1wrapper
{
	float: right;
	position: relative;
	width: 50%;
}
.splusplux #cl1
{
	overflow: hidden;
	position: relative;
	right: 100%;
}
.splusplux #cl2
{
	float: left;
	position: relative;
}
.xplusplus #clright
{
	float: left;
	position: relative;
	right: 100%;
	width: 200%;
}
.xplusplus #cl1wrapper
{
	float: left;
	left: 50%;
	position: relative;
	width: 50%;
}
.xplusplus #cl3
{
	float: right;
	position: relative;
}
.splusplus .cplutplutr-color1, .splusplus .cplukplukl-color1, .splusplux .cplukplukl-color1, .xplusplus .cpludpludr-color1
{
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0 0;
}
.splusplus .cplutplutr-color2, .splusplus .cplukplukl-color2, .splusplux .cplukplukl-color2, .xplusplus .cpludpludr-color2
{
	background: transparent;
}
.splusplus #cl1pader, .splusplux #clright, .xplusplus #clright, #wrapper, BODY
{
	background: #FFF;
}
.clses1
{
	display: block;
	float: none;
	margin: 0;
	width: 100%;
}
.clses2
{
	width: 49%;
	overflow: hidden;
}
.clses3
{
	width: 30%;
}
.thecl1, .thecl2
{
	position: relative;
	float: left;
	margin: 0;
}
.colpader
{
	padding: 0 10px;
	position: relative;
}
.thecl2
{
	float: right;
	width: 49%;
}
.article_row
{
	overflow: hidden;
	margin: 0 -10px 15px;
}
/*HEADER*/
#header
{
	overflow: hidden;
}
/*LOGO*/
.site-title
{
	font-size: 20pt;
	line-height: 40px;
	font-weight: bold;
	color: #333333;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
.site-description
{
	color: #999999;
	padding-left: 10px;
	font-size: 12pt;
}
/*CONTENT STYLE*/
P.buttonheading
{
	position: absolute;
	top: 2px;
	right: 10px;
	margin: 0;
}
.buttonheading .icon
{
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 5px;
}
.buttonheading .pdf
{
}
.buttonheading .print
{
}
.buttonheading .email
{
}
.iteminfo
{
	font-size: 90%;
	overflow: hidden;
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 20px;
	display: block;
	margin-top: -10px;
	width: 100%;
}
.modifydate, .createdby, .createdate
{
	display: block;
}
.createdby
{
	font-weight: bold;
}
A.readon, A.readon2
{
	display: block;
	margin-top: 15px;
	font-style: italic;
}
A.readon2
{
	display: block;
	float: right;
	color: #FFF;
	font-weight: bold;
	line-height: 20px;
}
A.readon2 SPAN
{
	display: block;
	margin-right: 10px;
	height: 21px;
	float: left;
	padding: 0 5px 0 15px;
}
.breadcrumbs-pad
{
	padding: 0 1px;
}
DIV.breadcrumbs
{
	font-size: 110%;
	font-weight: bold;
	margin: 0;
	padding: 7px 15px 5px;
	color: #333333;
	text-transform: uppercase;
}
DIV.breadcrumbs .sep
{
	padding: 0 5px;
}
.component-pad
{
	padding: 0 15px 15px;
}
.banneritem_text
{
	margin-bottom: 10px;
}
#modlgn_username, #modlgn_passwd
{
	border: 1px solid #CCC;
	padding: 3px;
}
.pagination SPAN, .pagination A
{
	margin-right: 5px;
}
#clmsk UL LI
{
	list-style: disc;
}
#clmsk UL UL
{
	margin-top: 0;
}
#clmsk UL UL LI
{
	list-style: square;
}
.item-page, .category-list
{
	position: relative;
}
#clmsk .component-pad .actions
{
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}
.category-list .hasTip
{
	position: absolute;
	right: 19px;
	top: 2px;
}
.category-list .actions .hasTip
{
	position: static;
}
.item-page FIELDSET
{
	margin-bottom: 3em;
}
.mceEditor
{
	display: block;
	margin: 1em 0;
}
.formelm
{
	margin-bottom: 0.6em;
}
.button2-left
{
	float: left;
	margin-right: 1em;
}
#clmsk .component-pad .actions LI, #clmsk .pagenav LI, #clmsk .pagination LI
{
	list-style: none;
	display: inline;
}
.pagenav
{
	text-align: center;
}
.blog-featured .cols-3 .item
{
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.blog-featured .cols-3 .item:nth-child(2n+1)
{
	margin-right: 3%;
}
.readmore, .article-count, TABLE.category TH, .pagenavcounter
{
	font-style: normal;
}
TABLE.category TD, TABLE.category TH
{
	padding-right: 20px;
}
TABLE.category TH A
{
	font-weight: normal;
}
.image-left, IMG[align="left"]
{
	float: left;
	margin-right: 10px;
}
.article-count
{
	padding-bottom: 1em;
}
.article-count DT, .article-count DD, .contact-address ADDRESS, #form-login-remember LABEL
{
	display: inline;
}
TABLE.category TH A IMG
{
	margin-left: 5px;
}
.login-fields, .display-limit, .reset, FORM DD
{
	margin-bottom: 10px;
}
.login-fields LABEL, .item-page LABEL
{
	display: block;
}
LEGEND
{
	padding-bottom: 1em;
}
.colpader H2.contentheading
{
	padding-right: 65px;
}
.sectiontableheader
{
	font-weight: bold;
	line-height: 25px;
	text-align: left;
}
TR.sectiontableentry0 TD, TR.sectiontableentry1 TD, TR.sectiontableentry2 TD, TD.sectiontableentry0, TD.sectiontableentry1, TD.sectiontableentry2
{
	text-align: left;
	padding: 0 4px;
	vertical-align: middle;
	border-top: 1px solid #DDD;
	line-height: 30px;
}
SPAN.attention
{
	display: block;
	margin: 15px 0;
	padding: 8px 10px;
	background: #FFF3A3;
	border: 1px solid #E7BD72;
	color: #B79000;
}
/*MODULES*/
.module
{
	padding: 1px;
}
.module-title
{
	font-size: 110%;
	font-weight: bold;
	margin: 0;
	padding: 7px 15px 5px 0px;
	border-bottom: 4px solid #333333;
	color: #333333;
	text-transform: uppercase;
}
.module-body
{
	padding: 10px 15px 25px;
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
}
.color1 .module-title
{
}
.color2 .module-title
{
}
.color1 .module-body
{
}
.color2 .module-body
{
}
#mastermods, #basicmods2, #mastermods3
{
	overflow: hidden;
	padding-top: 10px;
}
#mastermods3
{
	padding: 10px;
}
#mastermods3 H3
{
}
#mastermods3 P
{
}
.spacer .module
{
	float: left;
}
.spacer.w99 .module
{
	width: 100%;
}
.spacer.w49 .module
{
	width: 49.2%;
}
.spacer.w33 .module
{
	width: 33.1%;
}
/*FOOTER*/
#footer
{
	border-top: 4px solid #333333;
	min-height: 100px;
}
.footer-dst
{
	background-image: url(../images/backgrounds/footer.png);
	padding: 10px 15px;
	overflow: hidden;
	background-repeat: repeat;
}
#footer UL
{
	margin: 0;
}
#footer LI
{
	list-style: none;
	float: left;
	padding-right: 20px;
	font-weight: bold;
}
/*SEARCH*/
#search
{
	position: absolute;
	top: 10px;
	right: 0;
}
#search .inputbox
{
	width: 190px;
	height: 23px;
	border: none;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0 0;
	padding: 0 0 0 10px;
	border: 1px solid #D8D8D9;
	margin-right: 5px;
}
#search .search_button
{
	background: url(../images/search-button.png) no-repeat;
	width: 30px;
	height: 23px;
	border: none;
	text-indent: -9999em;
	margin: 0;
	cursor: pointer;
}
/*SLIDESHOW*/
.slimSlider
{
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 50% 50%;
}
.slimSlider IMG
{
	width: 686px;
	height: 270px;
	display: none;
}
.slimSlider A
{
	border: 0;
	display: block;
	color: #FFF;
}
/*wrapped image link*/
.slimSlider A.slim-imageLink
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
}
/*inner*/
.slim-slice
{
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
}
.slim-box
{
	display: block;
	position: absolute;
	z-index: 5;
}
/*######  slides info ######*/
.slim-caption
{
	position: absolute;
	color: #118EEC;
	background-color: transparent;
	background-image: url(../images/slideshow/info_nav_bg.png);
	background-repeat: repeat;
	background-attachment: scroll;
	right: 20px;
	bottom: 20px;
	width: 400px;
	z-index: 8;
	padding: 10px;
	overflow: hidden;
}
.slim-caption P
{
	padding: 0 !important;
	margin: 0 !important;
	font-weight: bold;
	background-color: transparent;
}
.slim-caption A
{
	display: inline !important;
	border-bottom: 1px dotted #FFF;
}
.slim-caption A:hover
{
	border-bottom-style: solid;
	text-decoration: none;
}
.slim-html-caption
{
	display: none;
}
/*######  next preview buttons ######*/
.slim-directionNav A
{
	position: absolute;
	top: 43%;
	z-index: 9;
	cursor: pointer;
	text-indent: -10000px;
	background-repeat: no-repeat;
	height: 72px;
	width: 45px;
}
.slim-prevNav
{
	left: 20px;
	background-position: left top;
}
.slim-nextNav
{
	right: 20px;
	background-position: -31px top;
}
/*######  buttons ######*/
.slim-controlNav
{
	height: 30px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 60;
}
.slim-controlNav A
{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 30px;
	height: 30px;
	background: url(../images/slideshow/bullet.png) no-repeat;
	border: none;
	cursor: pointer;
}
.slim-controlNav A.active
{
	background: url(../images/slideshow/bullet_active.png) no-repeat;
}
