@CHARSET "UTF-8";

div.babelu_exams_wrapper
{
	position:relative;
}

.open
{
	display:block;
}

.closed
{
	display:none;
}

.bu_control
{
	margin:3px;
	padding:3px;
}

div.babelu_exams_details ul, div.babelu_exams_sub_navi ul, div.babelu_exams_navi ul
{
	list-style:none!important;
	padding-left:0px!important;

}

div.babelu_exams_details ul li, div.babelu_exams_sub_navi ul li, div.babelu_exams_navi ul li
{
	float:left;
	background-image:none!important;
	margin-left:5px!important;
	margin-right:5px!important;
}
div.babelu_exams_no_records
{
	clear:both;
	text-align:center;
	margin:auto;
}
div.babelu_exams_main_description, div.babelu_exams_table_wrapper
{
	clear:left;
	padding-top:5px;
}

div.babelu_exams_clearfix
{
	clear:both!important;
}

#babelu_exams_summary_outer_wrapper
{
	 float: right; 
	 position:relative; 
	 width: 45%; 
}

div.babelu_exams_summary_wrapper
{
	width:100%;
}

div.babelu_exams_text_summary
{
	 float: left; 
	 position: relative; 
	 margin-right: 5px;
}

div.babelu_exams_status
{
	 font-size: 42px; 
	 color: red; 
	 margin-left: 50%; 
}

div.babelu_exams_status div.outer_ring
{
	position: relative; 
	text-align: center;
}

div.babelu_exams_text_summary ul
{
	list-style:none!important;
	font-weight:bold;
}

div.babelu_exams_text_summary ul li
{
	background-image:none!important	
}
label.babelu_exams_adminform_radio_button
{
clear: none;
float: left;
min-width: 50px!important;
}
fieldset.adminform div.babelu_exams_problem_text img
{
	max-width:150px;
}

a.nolink, a.nolink:hover, a.nolink:visited
{
	text-decoration:none;
	cursor: default;
}

 a.nolink:hover, a.nolink:visited
 {
 	color:inherit!important;
 }

div.babelu_exams_section_navi ul li.js-nav
{
	display:none;
}

div.babelu_exams_wrapper textarea.inputbox
{
	min-width:200px;
	min-height:100px;
}

div.babelu_exams_table_wrapper table
{
	width:100%;
}

div.babelu_exams_table_wrapper table .align-center
{
	text-align:center;
}

div.babelu_exams_table_wrapper table .align-left
{
	text-align:left;
}
