@CHARSET "UTF-8";

div#babelu_exams_timer_box
{
	position: fixed;
	z-index:1000;
	right: 0px;
	top: 0px;
	background-image: url('../images/timer_one_icon.png');
	background-repeat: no-repeat;
	background-position: 5px; center;
	background-color: #C4C2CC;
	border-bottom-left-radius: 5px;
	border-left: 1px solid #999;
	border-bottom:1px solid #999;
	padding-left:35px;
	padding-right:3px;
	padding-top:5px;
	padding-bottom:5px;	
	margin: 0px!important;
	font-size: 30px;
	text-align:center;
}
span#babelu_exams_timer_text
{
	font-size:10px;
	display:none;
	
}

span#babelu_exams_timer
{
	font-size: 25px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 2px 5px 2px 5px;
	background-color: #fff;
}